---
- name: Install packages
  ansible.builtin.apt:
    name: 
      - samba
      - cockpit
    state: present
    
- name: Create samba_share group
  ansible.builtin.group:
    name: "{{ share_group }}"
    state: present

- name: Ensure /srv/fileserver directory with correct permissions
  ansible.builtin.file:
    path: "{{ samba_fileserver_share_path }}"
    state: directory
    owner: root
    group: "{{ share_group }}"
    mode: '2775'
    recurse: yes

- name: Ensure /var/www directory with correct permissions
  ansible.builtin.file:
    path: "{{ samba_www_share_path }}"
    state: directory
    owner: www-data
    group: "{{ share_group }}"
    mode: '2775'
    recurse: yes

- name: Configure Samba
  ansible.builtin.template:
    src: smb.conf.j2
    dest: /etc/samba/smb.conf
  notify: Restart Samba

- name: Ensure Samba enabled
  ansible.builtin.systemd:
    name: smbd
    enabled: true
